.body-content {
    margin-top: 72px;
}

td, th {
    padding: 10px;
}

th {
    text-align: center;
    color: #191970;
}

td {
    vertical-align: top;
}

.centeredTable {
    margin-left: auto;
    margin-right: auto;
}

table.job-listing:nth-child(odd) {
    background-color: #E6E6FA;
}

table.job-listing {
    margin: 20x left;
    border: 1px;
    width: 50%;
}

table.job-listing td:first-child {
    font-weight: bold;
}

table.job-listing td:last-child {
    width: 80%;
}

label {
    margin-right: 15px;
}

.centered {
    text-align: center;
}

table.results:nth-child(even) {
    background-color: #E6E6FA;
}

table.results {
    margin: 20x left;
    border: 1px;
    width: 50%;
}

table.results td:first-child {
    font-weight: bold;
}

table.results td:last-child {
    width: 80%;
}

label {
    margin-right: 15px;
}

.centered {
    text-align: center;
}

