<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>
</div>

    <!-- TODO #1 - Use a loop to display job results in a table. -->

<table class="job-listing" th:each="job : ${jobs}">
    <tr>
        <th>ID</th>
        <td th:text="${job.getId()}"></td>
        </tr>
    <tr>
        <th>Name</th>
        <td><a th:href="@{/list/jobs(column=name,value=${job.getName()})}" th:text="${job.getName()}"></a></td>
    </tr>
    <tr>
        <th>Employer</th>
            <td><a th:href="@{/list/jobs(column=employer,value=${job.getEmployer()})}" th:text="${job.getEmployer()}"></a></td>
        </tr>
        <tr>
            <th>Location</th>
            <td><a th:href="@{/list/jobs(column=location,value=${job.getLocation()})}" th:text="${job.getLocation()}"></a></td>
        </tr>
        <tr>
            <th>Position Type</th>
            <td><a th:href="@{/list/jobs(column=positionType,value=${job.getPositionType()})}" th:text="${job.getPositionType()}"></a></td>
        </tr>
        <tr>
            <th>Skill</th>
            <td><a th:href="@{/list/jobs(column=coreCompetency,value=${job.getCoreCompetency()})}" th:text="${job.getCoreCompetency()}"></a></td>
            <th>  </th>
        </tr>
    </table>
</body>
</html>